nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: rgb(146, 20, 20);
    position: fixed;
    width: 100%;
    z-index: 100;
}

@media (max-width: 380px) {
    nav {
        width: 100%;
    }
}

.dropdown {
  position: relative;
  display: inline-block;
    margin-right: 1rem;

}

.popup-container {
    position: absolute;
    top: 6%;
    right: 0;
    z-index: 1;
}

/*@media (max-width: 380px) {*/
/*  .popup-container{*/
/*    position: relative;*/
/*    right: 250px;*/
/*  }*/
/*}*/