.category-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title {
  display: flex;
  font-size: 24px;
  margin-bottom: 16px;
  align-items: center;
  justify-content: center;
}

.tableContainer {
  margin-top: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.addButton {
  display: flex;
  flex-direction: row;
  background-color: #5495da;
  border: none;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #0056b3;
}

.addButtonIcon {
  font-size: 30px;
  margin-right: 8px;
}

.row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.row:hover {
  background-color: #f5f5f5;
}

.festivalCell {
  font-size: 14px;
}

.categoryCell {
  font-size: 14px;
}

p {
  color: white;
}

.control {
  display: flex;
}

/*@media (max-width: 1650px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 1100px;*/
/*  }*/
/*}*/
/*@media (max-width: 1550px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 1000px;*/
/*  }*/
/*}*/
/*@media (max-width: 1450px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 950px;*/
/*  }*/
/*}*/
/*@media (max-width: 1350px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 800px;*/
/*  }*/
/*}*/
/*@media (max-width: 1200px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 700px;*/
/*  }*/
/*}*/
/*@media (max-width: 1100px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 550px;*/
/*  }*/
/*}*/
/*@media (max-width: 950px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 440px;*/
/*  }*/
/*}*/
/*@media (max-width: 835px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 390px;*/
/*  }*/
/*}*/
/*@media (max-width: 780px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 400px;*/
/*  }*/
/*}*/
/*@media (max-width: 690px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 300px;*/
/*  }*/
/*}*/
/*@media (max-width: 550px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 230px;*/
/*  }*/
/*}*/
/*@media (max-width: 480px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 160px;*/
/*  }*/
/*}*/
/*@media (max-width: 385px) {*/
/*  .control {*/
/*    position: relative;*/
/*    left: 100px;*/
/*  }*/
/*}*/


