.sidebar {
  background: #000;
  color: #fff;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  height: auto;
}

.logo {
  font-size: 30px;
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
    font-size: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    display: none;
    font-size: 23px;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    display: none;
    font-size: 20px;
  }
}

@media only screen and (max-width: 340px) {
  .logo {
    font-size: 0;
  }
}

@media only screen and (max-width: 340px) {
  .link {
    font-size: 0;
  }
}

@media only screen and (max-width: 340px) {
  .log {
    font-size: 0;
    display: none;
  }
}

.bars {
  display: flex;
  font-size: 25px;
}

@media only screen and (max-width: 400px) {
  .bars {
    position: relative;
    right: 15px;
    font-size: 25px;
  }
}

@media only screen and (max-width: 340px) {
  .bars {
    font-size: 25px;
    position: relative;
  }
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
